  <app-banner-details></app-banner-details>

  <app-text-image
    [image]="'assets/images/giving-red-rose.jpg'"
    [position]="'left'"
    [text]="
          'We are the World`s Original Marriage Proposal Planners. ' +
          'Our expert team thoughtfully helps you create your dream proposal, all the way up to the moment she says YES!'
      "
    [title]="'Our successes'"
    [link]="'index.html'"
  ></app-text-image>

  <app-text-image
    [image]="'assets/images/romantic-date-in-restaurant.jpg'"
    [position]="'right'"
    [text]="
          '1 in 3 women is secretly disappointed with their proposal. ' +
          'Let`s ditch the insert couple here scenario and make it all about you two. ' +
          'Why? It’s your love story, and this moment should reflect your relationship, memories, and her favorite things.'
      "
    [title]="'Why choose us?'"
    [link]="'index.html'"
  ></app-text-image>

  <app-text-image
    [image]="'assets/images/romantic-sunset.jpg'"
    [position]="'left'"
    [text]="
          'Check our services! 100% back guaranteed! '
      "
    [title]="'What do we offer?'"
    [link]="'index.html'"
  ></app-text-image>

  <app-jumbotron></app-jumbotron>
